body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container{
    width: 50rem;
    margin: auto;
    margin-top: 50px;
    padding: 50px;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
}

h1{
    padding-bottom: 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
}

.logo {
    color: #fff;
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background 0.3s;
}

.nav-links a:hover {
    background-color: #555;
    border-radius: 4px;
}
